<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News363 - Lab 10</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />

    <style>
        img { max-width:100%; display:inline-block; }
        .text-overflow { white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
        html {scroll-behavior: smooth;
            
        }
    </style>
</head>

<body ng-app="news363" class="pt-5">
    <!-- Convert this into a main-header component -->
    <main-header></main-header>

    <div class="container">
        <section id="top-news" class="row py-5 border-bottom" ng-controller="topNewsCtrl">
            <h2 class="col-12 text-center font-weight-light text-dark mb-4">Top Stories</h2>

            <!-- 4 detailed news items (image, headline, preview) -->
            <detailed-story-item class="col-6" ng-repeat="item in news" item="item"></detailed-story-item>



        </section>

        <section id="technology" class="row py-5 border-bottom" ng-controller="techNewsCtrl">
            <h2 class="col-12 text-center font-weight-light text-dark mb-4">Technology</h2>

            <!-- 4 detailed news items (image, headline, preview) -->
            <detailed-story-item class="col-6" ng-repeat="item in news" item="item"></detailed-story-item>

        </section>

        <div class="row py-5">
            <section id="ny-times" class="col-6 border-right" ng-controller="nyTimesNewsCtrl">
                <h2 class="text-center font-weight-light text-dark mb-4">From: The NY Times</h2>

                <!-- List of 10 news headlines -->
                <story-item-list ng-repeat="item in news" item="item"></story-item-list>

            </section>

            <section id="espn" class="col-6" ng-controller="espnNewsCtrl">
                <h2 class="text-center font-weight-light text-dark mb-4">From: ESPN</h2>

                <!-- List of 10 news headlines -->
                <story-item-list ng-repeat="item in news" item="item"></story-item-list>

            </section>
        </div>
    </div>

    <footer class="bg-dark text-white text-center">
        <div class="container">
            <div class="row">
                <div class="col-12 py-4">&copy; 2019 News363</div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>